*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body,
html {
  width: 100vw;
  box-sizing: border-box;
  overflow-x: hidden;
}

@media screen and (max-width: $media-query-small) {
  html {
    font-size: 60%;
  }
}
