body{
    font-family: $default-font-family;
    font-weight: 400;
    line-height: 2.1;
    color:$color-black;
}

h1{
    font-weight: $default-font-weight-extra-bold;
    font-size: $default-font-size-h1;
    line-height: $default-line-height-h1;
}

h2{
    font-weight: $default-font-weight-extra-bold;
    font-size: $default-font-size-h2;
    line-height: $default-line-height-h2;
}

h3{
    font-weight: $default-font-weight-semi-bold;
    font-size: $default-font-size-h3;
    line-height: $default-line-height-h3;
    color: $color-primary;
    text-transform: uppercase;
}

h4{
    font-weight: $default-font-weight-bold;
    font-size: $default-font-size-h4;
    line-height: $default-line-height-p;
    color: $color-primary;
    text-transform: uppercase;
}

p{
    font-weight: $default-font-weight-regular;
    font-size: $default-font-size-p;
    line-height: $default-line-height-p;
}

a{
    font-weight: $default-font-weight-medium;
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-decoration: none;
    color: $color-white;
}

ul{
    list-style: none;
}